<!DOCTYPE html>
<html>
  <head>
    <title>Twitter-Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
      <a class="navbar-brand" href="#">Twitter-Test</a>
      <% if user_signed_in? %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <span class="navbar-text color-white">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </span>
        </div>
      <% end -%>
    </nav>
    <div class="body-content">
      <%= yield %>
    </div>   
  </body>
</html>
